$error-color-1: #A64254;
$error-color-2: #C56375;

$secondary-color-1: #232537;
$secondary-color-2: rgba(45, 47, 65, 72%);
$secondary-color-3: #030015;

$light-color-1: rgba(193, 186, 234, 0.38);

$dark-color-1: #030015;



$feature-skew : 7deg;




$br-md: 768px;
$br-lg: 1426px;


$translate-top: 300px;






$sm-col-height: 100px;
$f-post-h: 110%;
$f-post-h-lg: 110%;